/*
Responsive typography *************************************/
.x-section {
  padding: 3em 0 !important; }
  @media (min-width: 768px) {
    .x-section {
      padding: 4em 0 !important; } }
  .x-section .x-container:not(:first-child) {
    padding-top: 4em !important; }
  .x-section .x-bg + .x-container {
    padding-top: 0 !important; }
  .x-section .x-container.np {
    padding: 0 !important; }
  .x-section.nbp {
    padding-bottom: 0 !important; }

/*
** Portfolio *************************************************************** */
h2.entry-title.entry-title-portfolio, h1.entry-title.entry-title-portfolio {
  line-height: 1.3;
  text-transform: none;
  font-weight: 300; }

.single-x-portfolio .entry-header {
  padding: 0 0 2em 0;
  margin-top: 0; }

.single-x-portfolio h2 {
  font-size: 150%;
  line-height: 1.4;
  margin-top: 1.75em;
  margin-bottom: .5em; }

/*
** Produkter *************************************************************** */
.single-produkter .x-main {
  width: 100%; }

.single-produkter .entry-header {
  background-color: #f4f4f4;
  padding: 2em 10%;
  text-align: center; }
  .single-produkter .entry-header .entry-title:before {
    content: ''; }

.single-produkter .entry-content {
  margin-top: 0; }

.single-produkter .product-name {
  display: block; }

.single-produkter .product-title {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4; }
  @media (min-width: 768px) {
    .single-produkter .product-title {
      font-size: 1.5rem; } }

.text-container {
  max-width: 800px !important; }

/*
** Kontakt, CTA *************************************************************** */
.contact-section {
  background-color: #f4f4f4; }
  .contact-section .x-column {
    text-align: center; }
  .contact-section a {
    font-size: 2em;
    line-height: 1;
    font-weight: 400; }
  .contact-section i {
    padding-right: .5em; }

.related-products .x-column {
  text-align: center; }

/*
** Footer *************************************************************** */
footer.x-colophon .x-column {
  text-align: center; }

footer.x-colophon .h-widget {
  margin-top: 0; }

footer.x-colophon ul.footer-contact, footer.x-colophon ul.social-icons {
  list-style: none;
  margin: 0; }

footer.x-colophon .footer-contact {
  font-size: 1.1em; }

footer.x-colophon ul.social-icons li {
  display: inline-block;
  font-size: 1.5em;
  margin: 0 .2em; }

footer.x-colophon .footer-logo {
  margin-bottom: 4em;
  width: 300px; }

/*
** General *************************************************************** */
.center-text-mobile {
  text-align: center; }

@media all and (min-width: 768px) {
  .center-text-mobile {
    text-align: left; } }

/*
** Slider *************************************************************** */
.x-flexslider .x-img, .x-flexslider .alignnone, .x-flexslider p {
  margin: 0; }

.x-flexslider .flex-control-nav:not(.flex-control-thumbs) {
  top: auto;
  bottom: -40px;
  right: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent; }

.x-flexslider .flex-control-nav:not(.flex-control-thumbs) li {
  margin: 7px 8px 6px; }

.x-flexslider .flex-control-nav a {
  border-radius: 0;
  height: 2px;
  width: 30px; }

.x-flexslider .flex-direction-nav a {
  font-size: 60px;
  line-height: 1;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: transparent; }
  .x-flexslider .flex-direction-nav a.flex-next {
    left: auto;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .x-flexslider .flex-direction-nav a.flex-next .x-icon-chevron-right:before {
      content: '\f105'; }
  .x-flexslider .flex-direction-nav a.flex-prev {
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .x-flexslider .flex-direction-nav a.flex-prev .x-icon-chevron-left:before {
      content: '\f104'; }

/*
** Accordion ****************************************************************/
.x-accordion-group {
  border: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #e5e5e5; }
  .x-accordion-group .x-accordion-heading .x-accordion-toggle {
    background-color: transparent;
    position: relative; }
    .x-accordion-group .x-accordion-heading .x-accordion-toggle:before {
      content: '\f106';
      font-size: 1em;
      position: absolute;
      right: 10px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    .x-accordion-group .x-accordion-heading .x-accordion-toggle.collapsed:before {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }

/*
** Responsive block-grid *************************************************************** */
@media (min-width: 480px) {
  .block-five .x-block-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .block-five .x-block-grid.four-up > li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 18%;
            flex: 1 0 18%;
    width: 50%;
    margin: 0; } }

.block-five .x-counter {
  font-size: .7em;
  padding: 1em 0;
  margin: 0 auto; }

.block-five .block-grid-item-1 .x-counter {
  background-color: #e4156a; }

.block-five .block-grid-item-2 .x-counter {
  background-color: #61346e; }

.block-five .block-grid-item-3 .x-counter {
  background-color: #ff8000; }

.block-five .block-grid-item-4 .x-counter {
  background-color: #60c926; }

.block-five .block-grid-item-5 .x-counter {
  background-color: #00bffd; }

@media all and (min-width: 480px) {
  .block-five .x-counter {
    width: 120px;
    height: 120px;
    background-color: #eee;
    font-size: .65em;
    border-radius: 1000px;
    padding-top: 31px;
    overflow-wrap: break-word; } }

@media all and (min-width: 571px) {
  .block-five .x-counter {
    width: 140px;
    height: 140px;
    padding-top: 43px; } }

@media all and (min-width: 900px) {
  .block-five .x-counter {
    width: 140px;
    height: 140px;
    padding-top: 38px;
    font-size: .7em; } }

@media all and (min-width: 1024px) {
  .block-five .x-counter {
    width: 160px;
    height: 160px;
    padding-top: 43px;
    font-size: .8em; } }

.x-counter .number-wrap {
  font-size: 2.5em; }

/*
** The grid ****************************************************************/
.tg-item .product-title {
  margin-bottom: 0;
  margin-top: 0; }

.product-archive .tg-filter-name {
  padding: 5px 10px;
  border: 2px solid #f4f4f4; }

.product-archive#grid-929 .tg-nav-font {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

/*
** Buttons ****************************************************************/
.site .x-btn {
  text-shadow: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .06em;
  padding: 0.8em 1.125em 0.8em; }
  .site .x-btn:hover {
    text-shadow: none; }

/*
Responsiva breakpoints ********************************************************/
/*
Rubriker ********************************************************/
.site .x-column > h1:first-child, .site .x-column > h2:first-child, .site .x-column > h3:first-child, .site .x-column > h4:first-child, .site .x-text > h1:first-child, .site .x-text > h2:first-child, .site .x-text > h3:first-child, .site .x-text > h4:first-child, .site .entry-header > h1:first-child, .site .entry-header > h2:first-child, .site .entry-header > h3:first-child, .site .entry-header > h4:first-child {
  margin-top: 0; }

.site h1, .site .h1 {
  font-size: 1.8rem;
  line-height: 1; }
  @media screen and (min-width: 768px) {
    .site h1, .site .h1 {
      font-size: 2.5rem; } }
  @media screen and (min-width: 1024px) {
    .site h1, .site .h1 {
      font-size: 3rem; } }

.site h2, .site .h2 {
  font-size: 1.6em;
  line-height: 1.2; }
  @media screen and (min-width: 480px) {
    .site h2, .site .h2 {
      font-size: 1.8em; } }
  @media screen and (min-width: 768px) {
    .site h2, .site .h2 {
      font-size: 1.8em; } }
  @media screen and (min-width: 1024px) {
    .site h2, .site .h2 {
      font-size: 2em; } }

.site h3, .site .h3 {
  font-size: 1.4em;
  line-height: 1.2; }
  @media screen and (min-width: 480px) {
    .site h3, .site .h3 {
      font-size: 1.6em; } }

.site h4, .site .h4 {
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: 700; }

.site h1, .site h2, .site h3, .site h4, .site h5, .site h6, .site .h1, .site .h2, .site .h3, .site .h4, .site .h5, .site .h6 {
  margin-top: 1em;
  margin-bottom: .2em; }

.lead-in {
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 300; }

/*
** Page header *************************************************************** */
.x-header-landmark {
  background-color: #f4f4f4; }

.entry-title.h-landmark, .h-landmark {
  color: #000; }

@media all and (max-width: 480px) {
  .h-landmark, .entry-title.h-landmark {
    font-size: 170%; }
  h2, .h2 {
    font-size: 180%; } }

/*
** Headlines *************************************************************** */
.h-custom-headline.h5 {
  line-height: 1.2; }

.entry-content h3 {
  font-size: 120%; }

.x-accordion-inner > h3 {
  margin-top: 0; }

.about .x-column > h2 {
  margin-top: 0; }

.about .x-column p + h2 {
  margin-top: 1.75em; }

/*
** Main nav *************************************************************** */
.x-navbar {
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
  -webkit-box-shadow: 0em 0.15em 3em 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0em 0.15em 3em 0px rgba(0, 0, 0, 0.05); }
  .x-navbar.nav-up {
    top: -75px; }
