/*
** General *************************************************************** */
.center-text-mobile{
	text-align: center;
}

@media all and (min-width: 768px){
	.center-text-mobile{
		text-align: left;
	}
}

/*
** Slider *************************************************************** */
.x-flexslider{
	.x-img, .alignnone, p{
		margin: 0;
	}

	.flex-control-nav:not(.flex-control-thumbs){
		top: auto;
		bottom: -40px;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		background-color: transparent;
	}

	.flex-control-nav:not(.flex-control-thumbs) li{
		margin: 7px 8px 6px;
	}

	.flex-control-nav{
		a{
			border-radius:0;
			height: 2px;
			width: 30px;
		}
	}

	.flex-direction-nav a{
		font-size: 60px;
		line-height: 1;
		width: 40px;
		height: 40px;
		color: #fff;
		background-color: transparent;


		&.flex-next{
			left: auto;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);

			.x-icon-chevron-right:before{
				content: '\f105';
			}
		}
		&.flex-prev{
			left: 10px;
			top: 50%;
			transform: translateY(-50%);

			.x-icon-chevron-left:before{
				content: '\f104';
			}
		}	
	}
	
} 

/*
** Accordion ****************************************************************/
.x-accordion-group{
	border: none;
	border-top:0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #e5e5e5;

	.x-accordion-heading{
		.x-accordion-toggle{
			background-color: transparent;
			position: relative;

			&:before{
				content: '\f106';
				font-size: 1em;
				position: absolute;
				right:10px;
				transform: rotate(0deg);

			}

			&.collapsed{

				&:before{
					transform: rotate(180deg);	
				}
				
			}
			
			
		}
	}

}


/*
** Responsive block-grid *************************************************************** */

@media (min-width: 480px){
	.block-five .x-block-grid{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.block-five .x-block-grid.four-up>li{
		flex: 1 0 18%;
		width: 50%;
		margin: 0;
	}
}



.block-five .x-counter {
	font-size: .7em;
	padding:1em 0;
	margin: 0 auto;
}


.block-five .block-grid-item-1 .x-counter{
	background-color: #e4156a;
}

.block-five .block-grid-item-2 .x-counter{
	background-color: #61346e;
}

.block-five .block-grid-item-3 .x-counter{
	background-color: #ff8000;
}

.block-five .block-grid-item-4 .x-counter{
	background-color: #60c926;
}

.block-five .block-grid-item-5 .x-counter{
	background-color: #00bffd;
}

@media all and (min-width: 480px){
	.block-five .x-counter {
	width: 120px;
	height: 120px;
	background-color: #eee;
	font-size: .65em;
	border-radius: 1000px;
	padding-top: 31px;
	overflow-wrap: break-word;
	}
}


@media all and (min-width: 571px){
	.block-five .x-counter {
		width: 140px;
		height: 140px;
		padding-top: 43px;
	}
}

@media all and (min-width: 900px){
	.block-five .x-counter {
		width: 140px;
		height: 140px;
		padding-top: 38px;
		font-size: .7em;
	}
}

@media all and (min-width: 1024px){
	.block-five .x-counter {
		width: 160px;
		height: 160px;
		padding-top: 43px;
		font-size: .8em;
	}
}

.x-counter .number-wrap{
	font-size:2.5em;

}


/*
** The grid ****************************************************************/

.tg-item .product-title{
	margin-bottom: 0;
	margin-top: 0;
}

.product-archive{
	.tg-filter-name{
		padding: 5px 10px;
		border: 2px solid #f4f4f4;
	}

	&#grid-929{
		.tg-nav-font{
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
}

/*
** Buttons ****************************************************************/

.site{
	.x-btn{
		text-shadow: none;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: .06em;
		padding: 0.8em 1.125em 0.8em;

		&:hover{
			text-shadow:none;
		}
	}	
}
