/*
** Main nav *************************************************************** */
.x-navbar{

	transition: top 0.2s ease-in-out;
	box-shadow:0em 0.15em 3em 0px rgba(0,0,0,0.05);

	&.nav-up{
		top: -75px;
	}
}


