.x-section{
	padding: 3em 0 !important;

	@media (min-width: 768px){
		padding: 4em 0 !important;
	}

	.x-container:not(:first-child){
		padding-top: 4em !important;
	}
	.x-bg + .x-container{
		padding-top: 0 !important;
	}

	.x-container{
		&.np{
			padding: 0 !important;
		}
	}

	&.nbp{
		padding-bottom: 0 !important;
	}
}

/*
** Portfolio *************************************************************** */

h2.entry-title.entry-title-portfolio, h1.entry-title.entry-title-portfolio{
	line-height: 1.3;
	text-transform: none;
	font-weight: 300;
}

.single-x-portfolio .entry-header{
	padding:0 0 2em 0;
	margin-top: 0;
}

.single-x-portfolio h2{
	font-size: 150%;
	line-height: 1.4;
	margin-top: 1.75em;
	margin-bottom: .5em;
}

/*
** Produkter *************************************************************** */

.single-produkter{
	.x-main{
		width: 100%;
	}

	.entry-header{
		background-color: #f4f4f4;
		padding: 2em 10%;
		text-align: center;

		.entry-title{
			&:before{
				content: '';
			}
		}
	}

	.entry-content{
		margin-top: 0;
	}

	
	.product-name{
		display: block;
	}

	.product-title{
		font-size: 1.2rem;
		font-weight: 400;
		line-height: 1.4;

		@media (min-width: 768px){
			font-size: 1.5rem;
		}
	}
}

.text-container{
	max-width: 800px !important;
}

/*
** Kontakt, CTA *************************************************************** */

.contact-section{
	background-color: #f4f4f4;
	.x-column{
		text-align: center;
	}

	a{
		font-size: 2em;
		line-height: 1;
		font-weight: 400;
	}

	i{
		padding-right: .5em;

	}
}

.related-products{
	.x-column{
		text-align: center;
	}
}

/*
** Footer *************************************************************** */
footer.x-colophon{
	.x-column{
		text-align: center;
	}

	.h-widget{
		margin-top: 0;
	}

	ul.footer-contact, ul.social-icons{
		list-style: none;
		margin: 0;
	}

	.footer-contact{
		font-size: 1.1em;
	}

	ul.social-icons{
		li{
			display: inline-block;
			font-size: 1.5em;
			margin: 0 .2em;
		}
	}

	.footer-logo{
		margin-bottom: 4em;
		width: 300px;
	}
}