/*
Responsiva breakpoints ********************************************************/

$breakpoints: (
  small : 480px,
  medium: 768px, // Previously 640px
  large : 1024px
);

$h1-font-sizes: (
  null   : (1.8rem, 1),
  medium : 2.5rem,
  large  : 3.0rem

);

$h2-font-sizes: (
  null   : (1.6em, 1.2),
  small  : 1.8em,
  medium : 1.8em,
  large  : 2.0em,
);

$h3-font-sizes: (
  null   : (1.4em, 1.2),
  small  : 1.6em,
);

$h4-font-sizes: (
  null   : (1.2em, 1.2),
);

$p-lead-in: (
  null   : (1.2em, 1.5),

);

/*
Rubriker ********************************************************/
.site{
  .x-column, .x-text, .entry-header{
    & > h1:first-child, & > h2:first-child, & > h3:first-child, & > h4:first-child{
      margin-top: 0;
    }
  }

  h1, .h1{
    @include font-size($h1-font-sizes);
    
  }

  h2, .h2{
    @include font-size($h2-font-sizes);
    
  }

  h3, .h3{
    @include font-size($h3-font-sizes);
  }

  h4, .h4{
    @include font-size($h4-font-sizes);
    font-weight: 700;
  }

  //Marginalen
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    margin-top: 1em;
    margin-bottom: .2em;

  }
}

.lead-in{
	@include font-size($p-lead-in);
	font-weight: 300;
}

/*
** Page header *************************************************************** */
.x-header-landmark{
	background-color: #f4f4f4;
}

.entry-title.h-landmark, .h-landmark{
	color:#000;
}

@media all and (max-width:480px){
	.h-landmark, .entry-title.h-landmark{
		font-size: 170%;
	}

	h2, .h2{
		font-size: 180%;
	}
}

/*
** Headlines *************************************************************** */
.h-custom-headline.h5{
	line-height: 1.2;
}

.entry-content h3{
	font-size: 120%;
}

.x-accordion-inner > h3{
	margin-top: 0;
}

.about .x-column > h2{
	margin-top: 0;
}

.about .x-column p + h2{
	margin-top: 1.75em;
}